<!DOCTYPE html>
<html>
<head>
    <title>Éditeur Markdown avec SimpleMDE</title>
	<a href="./markdown">editeur</a>
	<a href="./connexion">connexion</a>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
	<script src="{{ url_for('static', path='websocket_test.js') }}"></script>
</head>
<body>
	<h2>connectez-vous:</h2>
	<form action="" onsubmit="connection(event)">
		<div>
			<label for="mail">e-mail :</label>
			<input type="email" id="mail" name="mail">
		</div>
		<div>
			<label for="password">Password :</label>
			<input type="password" id="password" name="password">
		</div>
		<div class="button">
			<button>Se Connecter</button>
		</div>
	</form>
	<br><br><br>
	<h2>créer un compte</h2>
	<form action="" onsubmit="accountCreation(event)">
		<div>
			<label for="pseudonym">pseudonym :</label>
			<input type="text" id="pseudonym" name="pseudonym">
		</div>
		<div>
			<label for="mail">e-mail :</label>
			<input type="email" id="mailCreation" name="mailCreation">
		</div>
		<div>
			<label for="passwordCreation">Password :</label>
			<input type="password" id="passwordCreation" name="passwordCreation">
		</div>
		<div>
			<label for="birthDate">birthDate :</label>
			<input type="date" id="birthDate" name="birthDate" max="">
			<script>// I Don't like to put script here. TODO : Clean
				let currentDate = new Date();
				let maxBirthDate = new Date(currentDate.getFullYear() - 13, currentDate.getMonth(), currentDate.getDate());
				let dateString = maxBirthDate.toISOString().split('T')[0];
				document.getElementById("birthDate").max = dateString;
			</script>
		</div>
		<div class="button">
			<button>Créer son compte</button>
		</div>
	</form>
	<h2>Supprimer un compte</h2>
	<form action="" onsubmit="accountDelete(event)">
		<div>
			<label for="pseudonymDelete">pseudonym</label>
			<input type="text" id="pseudonymDelete" name="pseudonymDelete">
		</div>
		<div>
			<label for="passwordDelete">Password :</label>
			<input type="password" id="passwordDelete" name="passwordDelete">
		</div>
		<div class="button">
			<button>Se Connecter</button>
		</div>
	</form>
</body>
</html>