<!DOCTYPE html>
<html>
<head>
    <title>Éditeur Markdown avec SimpleMDE</title>
	<a href="./markdown">editeur</a>
	<a href="./connexion">connexion</a>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
	<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
	<script type="module" src="{{ url_for('static', path='websocket_test.js') }}"></script>

</head>
<body>
    <h1 id="file-title">untilted.md</h1>

	<textarea id="markdown-editor"></textarea>

</body>
</html>
